.best-sellers-section {
    padding: 90px 0;
}

.best-item-carousel {
    margin-top: 30px;
}

.section-separator {
    padding: 60px 0;
}

.separator-line {
    width: 100%;
    height: 2px;
    background: #eee;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

.best-item-carousel .owl-nav {
    position: absolute;
    top: -88px;
    right: 0;
}

.best-item-carousel .owl-nav button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    color: #2a2a2a;
    padding: 0px!important;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #dadada!important;
}

.best-item-carousel .owl-nav button:hover {
    background-color: #2a2a2a!important;
    color: #fff!important;
    border: 1px solid #2a2a2a!important;
}

.best-item-carousel .item {
    position: relative;
    z-index: 1;
}

.best-item-carousel .item .thumb {
    position: relative;
}

.best-item-carousel .item .thumb img {
    width: 100%;
}

.best-item-carousel .item .thumb .hover-content {
    position: absolute;
    z-index: 2;
    text-align: center;
    bottom: -60px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.best-item-carousel .item .thumb:hover .hover-content {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.best-item-carousel .item .thumb .hover-content ul li {
    display: inline;
    margin: 0px 10px;
}

.best-item-carousel .item .thumb .hover-content ul li a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #2a2a2a;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
}

.best-item-carousel .item .thumb .hover-content ul li a:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.best-item-carousel .item .down-content {
    padding-top: 20px;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.best-item-carousel .item .down-content h4 {
    font-size: 22px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 8px;
}

.best-item-carousel .item .down-content span {
    font-size: 18px;
    color: #a1a1a1;
    font-weight: 500;
    display: block;
}

.best-item-carousel .item .down-content ul.stars {
    position: absolute;
    right: 0;
    top: 20px;
}

.best-item-carousel .item .down-content ul.stars li {
    display: inline;
    font-size: 13px;
}

.best-item-carousel .item .down-content ul.stars li i {
    color: #f75f00;
}